@tailwind base;
@tailwind components;
@tailwind utilities;

/*
 * NextJS restrict "raw" CSS file to be only imported from _app.js page, due to its global nature.
 * https://nextjs.org/docs/basic-features/built-in-css-support#adding-a-global-stylesheet
*/

.c-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(17, 24, 39, 1);
}

.c-square {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20rem;
  width: 20rem;
  background-color: rgba(255, 255, 255, 1);
}

.c-circle {
  border-radius: 9999px;
  height: 5rem;
  width: 5rem;
  background-color: rgba(220, 38, 38, 1);
}
